.logoAlessandriaIcon {
  position: absolute;
  top: 63.9px;
  left: 0;
  width: 56.3px;
  height: 56.3px;
  object-fit: cover;
}
.frame,
.frame1 {
  position: absolute;
  top: 0;
  left: 63.7px;
  width: 56.3px;
  height: 120.1px;
  overflow: hidden;
}
.frame {
  left: 0;
  background-color: var(--color-gray-1100);
  width: 400px;
  height: 1117px;
}
.frame4 {
  top: 0;
  left: 20.3px;
  width: 100px;
  height: 1017.8px;
}
.frame4,
.frame6,
.frame8,
.menuDashboard {
  position: absolute;
  overflow: hidden;
}
.frame6 {
  top: 0;
  left: 17.3px;
  width: 229px;
  height: 940.2px;
}
.frame8,
.menuDashboard {
  left: 0;
  width: 325px;
}
.menuDashboard {
  top: 199.8px;
  border-radius: var(--br-8xs);
  height: 505px;
}
.frame8 {
  top: 0;
  height: 704.8px;
}
.alessandriaClub {
  margin: 0;
}
.nftMarketplace {
  margin: 0;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-400);
}
.alessandriaClubNftContainer {
  position: absolute;
  top: 91.9px;
  left: 0;
}
.frame10,
.frameChild {
  position: absolute;
  top: -91.9px;
}
.frame10 {
  left: 59px;
  width: 156px;
  height: 138.9px;
  overflow: hidden;
}
.frameChild {
  left: -5759px;
  background-color: var(--color-gray-1100);
  width: 400px;
  height: 1117px;
}
.frame9,
.frameParent {
  position: absolute;
  top: 70px;
  left: 0;
  width: 184px;
  height: 47px;
}
.frame9 {
  top: 0;
  left: 15.3px;
  height: 117px;
  overflow: hidden;
}
.frame12,
.frame15,
.frame3,
.frame5,
.frame7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 325px;
  height: 704.8px;
  overflow: hidden;
}
.frame12,
.frame15,
.frame3,
.frame5 {
  height: 940.2px;
}
.frame12,
.frame15,
.frame3 {
  height: 1017.8px;
}
.frame12,
.frame15 {
  left: 964.6px;
  width: 368.8px;
  height: 1045px;
}
.frame15 {
  left: 0;
  width: 995px;
  height: 1131px;
}
.menuButtonChild {
  position: absolute;
  top: 15px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro-400);
  width: 60px;
  height: 61px;
}
.menuButton,
.menuIcon {
  position: absolute;
  height: 90px;
}
.menuIcon {
  top: 0;
  left: 15px;
  width: 30px;
  object-fit: cover;
}
.menuButton {
  top: 119px;
  left: 0;
  width: 60px;
}
.frame14,
.frame16 {
  top: 0;
  overflow: hidden;
}
.frame16 {
  position: absolute;
  left: 33.6px;
  width: 60px;
  height: 209px;
}
.frame14 {
  width: 995px;
  height: 1131px;
}
.frame14,
.frame18,
.iTuoiNft {
  position: absolute;
  left: 0;
}
.frame18 {
  top: 0;
  width: 1163px;
  height: 120.1px;
  overflow: hidden;
}
.iTuoiNft {
  top: 195px;
}
.frame19,
.frame20 {
  position: absolute;
  top: 0;
  left: 14.6px;
  width: 153px;
  height: 245px;
  overflow: hidden;
}
.frame20 {
  left: 850.1px;
  width: 360.7px;
  height: 445.4px;
}
.mostraTutti1 {
  position: absolute;
  top: 0;
  left: 0;
}
.mostraTutti,
.vuesaxlineararrowDownIcon {
  position: absolute;
  top: 0;
  left: 99px;
  width: 24px;
  height: 24px;
}
.mostraTutti {
  top: 210.1px;
  left: 0;
  width: 123px;
}
.frame17,
.frame21 {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.frame21 {
  left: 208.5px;
  width: 123px;
  height: 234.1px;
  font-size: var(--regular-16-24-size);
  color: var(--color-dimgray-100);
}
.frame17 {
  left: 108.7px;
  width: 1210.7px;
  height: 445.4px;
}
.frame13 {
  left: 0;
  width: 1319.4px;
}
.frame11,
.frame13,
.frame2 {
  position: absolute;
  top: 0;
  height: 1131px;
  overflow: hidden;
}
.frame11 {
  left: 272.7px;
  width: 1333.4px;
  font-size: var(--font-size-14xl);
  color: var(--color-darkslategray-300);
}
.frame2 {
  left: 63.7px;
  width: 1606.1px;
}
.dashboard {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-whitesmoke-400);
  font-family: var(--font-poppins);
}
