.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-blueviolet-100);
  width: 30px;
  height: 30px;
}
.div {
  position: absolute;
  top: 1px;
  left: 9px;
  font-weight: 600;
}
.ellipseParent {
  width: 100%;
  position: relative;
  height: 30px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-ghostwhite-100);
  font-family: var(--font-poppins);
}
