.homeLoginChild {
  position: absolute;
  top: 0;
  left: -1.9px;
  background-color: var(--color-gray-900);
  width: 401.8px;
  height: 1117px;
}
.alessandriaClub {
  margin: 0;
}
.nftMarketplace {
  margin: 0;
  font-size: var(--font-size-sm);
  color: #636363;
}
.alessandriaClubNftContainer {
  position: absolute;
  top: 0;
  left: 59px;
}
.alessandriaClubNftMarketplaWrapper {
  position: absolute;
  top: 67.5px;
  left: 84.2px;
  width: 184px;
  height: 47px;
  flex-shrink: 0;
}
.frame3,
.frame4 {
  left: 0;
  overflow: hidden;
}
.frame4 {
  position: absolute;
  top: 0;
  width: 652px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.frame3 {
  top: 512px;
  height: 363px;
}
.frame,
.frame1,
.frame2,
.frame3 {
  position: absolute;
  width: 1296px;
}
.frame2 {
  top: 126px;
  left: 0;
  height: 899px;
  overflow: hidden;
}
.frame,
.frame1 {
  top: 71px;
  left: 19px;
  height: 1021px;
}
.frame {
  top: 0;
  left: 428px;
  width: 1281px;
  height: 1117px;
  overflow: hidden;
}
.logoAlessandriaIcon {
  position: absolute;
  top: 62.9px;
  left: 65.8px;
  width: 56.3px;
  height: 56.3px;
  object-fit: cover;
}
.vuesaxoutlinesetting2Icon {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
  display: none;
}
.messaggi {
  position: relative;
  font-weight: 500;
  display: none;
}
.menuItemSelected {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xl);
  background-color: var(--color-gray-800);
  width: 285px;
  height: 65.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 118px var(--padding-xl) var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-mid);
}
.menuItemSelectedParent,
.menuSettings {
  position: absolute;
  top: -9.3px;
  left: 6.8px;
  width: 285px;
  height: 542.9px;
}
.menuSettings {
  top: 257.5px;
  left: 56.5px;
  width: 343px;
  height: 505px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.homeLogin {
  position: relative;
  background-color: #f4f4f4;
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-whitesmoke-300);
  font-family: var(--font-poppins);
}
