.vuesaxlinearlogoutIcon {
  width: 24px;
  position: relative;
  height: 24px;
}
.logOut {
  position: relative;
  font-weight: 500;
}
.logoutButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 17px;
  text-align: left;
  font-size: var(--regular-16-24-size);
  color: var(--color-dimgray-200);
  font-family: var(--font-poppins);
}
