.enterYourPassword,
.instanceChild {
  position: absolute;
  top: -2.17%;
  left: 0;
}
.instanceChild {
  height: 61.96%;
  width: 100%;
  top: 38.04%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-4xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.password {
  position: absolute;
  height: 20.65%;
  width: 66.96%;
  top: 58.7%;
  left: 5.54%;
  font-size: var(--font-size-sm);
  font-weight: 300;
  color: var(--color-gray-1200);
  display: inline-block;
}
.enterYourPasswordParent {
  position: absolute;
  height: 14.22%;
  width: 82.6%;
  top: 57.65%;
  right: 9.34%;
  bottom: 28.13%;
  left: 8.06%;
  text-align: left;
  font-size: var(--paragraph-text-size);
  color: var(--white);
  font-family: var(--font-poppins);
}
