.frameChild,
.rectangle151 {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle151 {
  width: 352px;
  height: 348px;
  object-fit: cover;
}
.frameChild {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-1500);
  backdrop-filter: blur(32px);
  width: 135px;
  height: 38px;
}
.h22m {
  position: absolute;
  top: 12px;
  left: 40px;
  font-weight: 500;
}
.rectangleParent,
.vuesaxboldclockIcon {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 21px;
  height: 21px;
}
.rectangleParent {
  top: 354px;
  left: 108px;
  width: 135px;
  height: 38px;
}
.property1defaultChild {
  top: 269px;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--color-gray-1500);
  backdrop-filter: blur(32px);
  width: 352px;
  height: 77px;
}
.dModel11,
.property1defaultChild,
.soroushnrz7 {
  position: absolute;
  left: 0;
}
.dModel11 {
  top: 0;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  width: 136px;
  height: 43px;
}
.soroushnrz7 {
  top: 25px;
  font-size: var(--regular-12-16-size);
  font-weight: 500;
  color: var(--color-gainsboro-200);
}
.dModel11Parent {
  position: absolute;
  top: 286px;
  left: 34px;
  width: 136px;
  height: 43px;
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke-400);
}
.property1defaultItem {
  position: absolute;
  top: 352px;
  left: 276px;
  width: 45px;
  height: 45px;
}
.property1default {
  width: 352px;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  height: 346px;
  overflow: hidden;
  text-align: left;
  font-size: var(--regular-12-16-size);
  color: var(--color-gainsboro-200);
  font-family: var(--font-poppins);
}
