@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --paragraph-text: Lato;
  --font-josefin-sans: "Josefin Sans";
  --font-roboto: Roboto;
  --regular-12-16: Inter;

  /* font sizes */
  --font-size-3xl: 22px;
  --regular-12-16-size: 12px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --paragraph-text-size: 16px;
  --font-size-lg: 18px;
  --font-size-6xl: 25px;
  --font-size-smi: 13px;
  --font-size-14xl: 33px;
  --font-size-7xl: 26px;
  --font-size-19xl: 38px;
  --font-size-mid: 17px;
  --font-size-11xl: 30px;
  --font-size-31xl: 50px;
  --font-size-5xl: 24px;
  --font-size-mini: 15px;

  /* Colors */
  --color-whitesmoke-400: #f4f4f4;
  --controls-neutral-control-color-40: #f2f3f5;
  --color-whitesmoke-100: #efefef;
  --color-whitesmoke-200: #ededed;
  --color-whitesmoke-300: #eaeaea;
  --color-gray-100: #fafafa;
  --color-gray-200: #939393;
  --color-gray-300: #8d8d8d;
  --gray-02: #878787;
  --color-gray-400: #828282;
  --color-gray-500: #818181;
  --color-gray-1200: #808080;
  --color-gray-600: #2c2c2c;
  --color-gray-700: #222;
  --color-gray-1300: #221824;
  --color-gray-800: #1b1b1b;
  --color-gray-900: #161616;
  --color-gray-1000: #131313;
  --controls-neutral-control-layer-color-100: #070707;
  --special-bg3: rgba(255, 255, 255, 0.08);
  --color-gray-1400: rgba(0, 0, 0, 0.25);
  --color-gray-1500: rgba(255, 255, 255, 0.15);
  --color-gray-1100: rgba(255, 255, 255, 0.01);
  --color-blueviolet: #8758ff;
  --color-blueviolet-100: rgba(141, 27, 255, 0.3);
  --color-darkslategray-100: #313131;
  --color-darkslategray-200: #303030;
  --color-darkslategray-300: #2f2f2f;
  --color-gainsboro-100: #e3e3e3;
  --color-gainsboro-200: #e1e1e1;
  --controls-neutral-control-color-70: #dbdde5;
  --color-gainsboro-300: #dbdbdb;
  --color-gainsboro-400: #d9d9d9;
  --color-dimgray-100: #727272;
  --color-dimgray-200: #717171;
  --color-dimgray-400: #6d6d6d;
  --gray-01: #666;
  --color-dimgray-500: #636363;
  --color-dimgray-300: #565656;
  --secondary: #525256;
  --color-lightgreen: #6ece6c;
  --color-silver: #bebebe;
  --color-silver-100: #b9b9b9;
  --color-darkgray: #a0a0a0;
  --gray-03: #9f9f9f;
  --white: #fff;
  --color-ghostwhite: #fef7ff;
  --bg-shade: #eeeffb;
  --alessandria-primary: #d5d6d8;
  --color-darkslateblue-100: #563c72;
  --color-darkslateblue-200: #331b50;
  --color-darkslateblue-300: rgba(124, 99, 175, 0.4);
  --color-mediumaquamarine: #59c29f;
  --color-mediumpurple: #8958c0;
  --color-skyblue-100: #47deff;
  --color-skyblue-200: rgba(53, 217, 253, 0.8);
  --color-plum-100: #a686ad;
  --color-plum-200: rgba(218, 158, 212, 0);
  --color-darkviolet: rgba(185, 0, 250, 0.5);
  --color-dodgerblue: #4285f4;
  --color-aliceblue: #e9f1ff;
  --color-black: #000;
  --color-royalblue: #1d51d7;

  /* Gaps */
  --gap-47xl: 66px;
  --gap-xl: 20px;
  --gap-7xs: 6px;
  --gap-11xs: 2px;
  --gap-xs: 12px;
  --gap-mid: 17px;
  --gap-23xl: 42px;
  --gap-12xl: 31px;
  --gap-121xl: 140px;
  --gap-base: 16px;
  --gap-28xl: 47px;
  --gap-3xs: 10px;
  --gap-5xl: 24px;
  --gap-125xl: 144px;
  --gap-mini: 15px;
  --gap-13xl: 32px;

  /* Paddings */
  --padding-10xs: 3px;
  --padding-5xl: 24px;
  --padding-3xl: 22px;
  --padding-43xl-9: 62.9px;
  --padding-lg-5: 18.5px;
  --padding-base: 16px;
  --padding-xl: 20px;
  --padding-97xl: 116px;
  --padding-mid: 17px;
  --padding-99xl: 118px;
  --padding-4xs: 9px;
  --padding-5xs: 8px;
  --padding-13xl: 32px;
  --padding-29xl: 48px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-11xl: 30px;
  --br-3xs: 10px;
  --br-4xl: 23px;
  --br-8xs: 5px;
  --br-10xs: 3px;
  --br-21xl: 40px;
  --br-11xs: 2px;
  --br-4xs: 9px;
  --br-xs-2: 11.2px;
  --br-base: 16px;
  --br-9xs: 4px;
  --br-5xs: 8px;

  /* Effects */
  --style-one: 0px 20px 50px rgba(0, 0, 0, 0.06);
  --shadow-01: 0px 20px 25px rgba(76, 103, 100, 0.1);
}
